#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

header{
  height:10%;
}


.logo {
  width:30.2px;
  will-change: filter;
  transition: filter 300ms;
  height:30px;
}

.logodiv{
  padding: 1.5px;
  display: flex;
  flex-direction: row;
  gap:0px;
}

.logo:hover {
  filter: drop-shadow(0 0 2px #646cffaa);
  animation:logo-spin 2s ease-in-out;
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2px;
}

.read-the-docs {
  color: #888;
}
